@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/*노말 라이즈*/
*{
  margin:0; 
  padding:0;
  box-sizing:border-box;
  font-family: "Noto Sans", sans-serif;
}
body{background:#000;}
ul{list-style:none;}
a{text-decoration: none;}
button{
  border:0;
  outline:0;
  background:transparent;
  cursor:pointer;
}
/*=============================================*/
/*navbar*/
nav{
  width:100%;
  display:flex;
  justify-content: center;
}
.nav-content{
  width:980px;
  padding:0 10px;
}
.nav-content ul{
  display:flex;
  justify-content: space-between;
  align-items: center;
  /* column-gap:24px; */
}

/*apple-navbar*/
.apple-navbar a{
  color:#d5d5d5;
  font-size:12px;
  line-height:44px;
}
.apple-navbar ion-icon{
  font-size:18px;
  transform:translateY(3px);
}
.apple-navbar a:hover{
  color:#fff;
}

/*airpods-navbar*/
.airpods-navbar .nav-content{
  padding-top:18px;
  padding-bottom:12px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid rgba(255,255,255,0.25);
}
.nav-logo a{
  color:#fefefe;
  font-size:21px;
  font-weight: 600;
  line-height:24px;
}
.nav-items button{
  color:#fefefe;
  font-size:12px;
  line-height: 22px;
  margin:0 10px;
}
.nav-items button:hover{
  color:#2997ff;
}
.nav-items button:disabled,
.nav-items button:disabled:hover{
  color:#bebebe;
  cursor:default;
}

.nav-items .buy-btn{
  padding:0 12px;
  background:#147ce5;
  border-radius: 12px;
}
.nav-items .buy-btn:hover{color:#fefefe;}

/*스크롤을 내리면 두번째 내비게이션바를 뷰포트 상단에 고정시키는 스타일*/
.sticky{
  position:fixed;
  top:0;
  border-bottom:1px solid rgba(255,255,255,0.25);
  /*해당 요소 밑으로 비춰지는 요소에 효과를 적용*/
  backdrop-filter:saturate(180%) blur(15px);
  z-index: 10;
}
.sticky .nav-content{
  border-bottom:0;  
}
.sticky section{
  padding-top:44px;
}